include LICENSE.txt *.py
recursive-include locale *.po 
recursive-include mymoviebook *.mo *.py *.png *.sql
recursive-include man *.1
recursive-include doc *.py Doxyfile index.dox mymoviebook*.png
prune __pycache__
prune doc/html
global-exclude *.pyc demo.pdf demo.jpg
